@charset "utf-8";
/*div*/
.clocks {
	display: block;
	width: 400px;
	height: 400px;
	background: red;
}
/*針シンボル*/
.clock {
	width: 400px;
	height: 400px;
	/*これが針と時計盤を重ねるポイント*/
	position: absolute;
	/*重なり順制御*/
	z-index: 1;
}
/*情報エリア*/
.stat {
	position: relative;
	/*重なり順制御*/
	z-index: 2;
}
/*入力4桁*/
.input4num {
	width: 40px;
}
/*入力2桁*/
.input2num {
	width: 20px;
}